{{#if isTextarea}}
  <div class="input">
    <textarea class="control textarea" id="input-{{id}}"></textarea>
    <p class="message">{{message}}</p>
  </div>
{{else}}
  <div class="input">
    <label class="label" for="input-{{id}}">{{label}}</label>
    <input class="control"
           type="{{type}}"
           id="input-{{id}}"
           {{#if name}}name="{{name}}"{{/if}}
           {{#if accept}}accept="{{accept}}"{{/if}}
    />
    <p class="message">{{message}}</p>
  </div>
{{/if}}
