<div class="input">
  <label class="label" for="input-{{id}}">{{label}}</label>
  <input class="control" name="{{name}}" type="{{type}}" id="input-{{id}}"/>
  <p class="message">{{message}}</p>
</div>
