<article class="chat-area">
  <header class="chat-area__header chat-header">
    <a class="chat-header__plus" href="#" aria-label="{{ui.chat.add}}" title="{{ui.chat.add}}">
      {{{plus}}}
    </a>
    <a class="chat-header__delete" href="#" aria-label="{{ui.chat.delete}}" title="{{ui.chat.delete}}">
      {{{del}}}
    </a>
  </header>
  <section class="chat-area__content">
    <div class="chat-container">
      <div class="chat">
        <div class="chat-date">
          <span>{{chat.date}}</span>
        </div>
          <div class="chat__message">
              {{{children.messages.message1}}}
          </div>
          <div class="chat__message">
              {{{children.messages.message2}}}
          </div>
      </div>
    </div>
  </section>
  <footer class="chat-area__footer">
   {{{children.form}}}
  </footer>
</article>
