<article class="chat-area">
  <header class="chat-area__header chat-header">
    <button class="chat-header__plus" aria-label="{{ui.chat.add}}" title="{{ui.chat.add}}" id="add">
      {{{plus}}}
    </button>
    <button class="chat-header__delete" aria-label="{{ui.chat.remove}}" title="{{ui.chat.remove}}" id="remove">
      {{{trash}}}
    </button>
  </header>
  <section class="chat-area__content">
    <div class="chat-container">
      <div class="chat">
        <div class="chat-date">
          <span>{{chat.date}}</span>
        </div>
        {{#each children.messages }}
          <div class="chat__message">
              {{{this}}}
          </div>
        {{/each}}
      </div>
    </div>
  </section>
  <footer class="chat-area__footer">
   {{{children.form}}}
  </footer>

  {{{children.add}}}
</article>
