<form class="elements-column" novalidate>
  {{{children.email}}}
  {{{children.login}}}
  {{{children.firstName}}}
  {{{children.lastName}}}
  {{{children.phone}}}
  {{{children.password}}}
  <div class="login__action">
    <button class="button button--primary" type="submit">{{ui.user.signupButton}}</button>
  </div>
  <div class="login__link">
    <a class="link" href="login.html">{{ui.user.loginLink}}</a>
  </div>
</form>
