<form class="elements-column" novalidate>
  {{{children.email}}}
  {{{children.login}}}
  {{{children.first_name}}}
  {{{children.second_name}}}
  {{{children.phone}}}
  {{{children.password}}}
  <div class="login__action">
    <button class="button button--primary" type="submit">{{ui.user.signupButton}}</button>
  </div>
  <div class="login__link">
    <a class="link js-router-link" href="/login.html">{{ui.user.loginLink}}</a>
  </div>
</form>
