<main class="layout">
  <div class="layout__content">
    <div class="user card">
      <a href="/chat.html"
         class="button button--round button--primary-ghost user__back"
         aria-label="{{user.backLink}}">
        {{{left}}}
      </a>
      <h1>{{ui.user.title}}</h1>
      {{#if isEdit}}
        {{{children.form}}}
      {{else}}
        {{{children.view}}}
      {{/if}}
    </div>
  </div>
  {{#if isPasswordModalOpen}}
      {{{children.password}}}
  {{/if}}
</main>
