<form class="elements-column edit-form" novalidate>
  <div class="form-row">
    <header class="user-view__header form-row">
      <h1>{{user.first_name}} {{user.last_name}}</h1>
    </header>
    <div class="edit-form__avatar">
      <button type="button" id="avatar" class="avatar js-avatar">
          {{#if user.avatar}}
              <img src="https://ya-praktikum.tech/api/v2/resources/{{user.avatar}}" alt="user" width="150" height="150">
          {{/if}}
      </button>
    </div>
  </div>
  <div class="form-row form-row--wide">
    {{{children.email}}}
  </div>
  <div class="form-row form-row--wide">
    {{{children.login}}}
  </div>
  <div class="form-row form-row--wide">
    {{{children.first_name}}}
  </div>
  <div class="form-row form-row--wide">
    {{{children.second_name}}}
  </div>
  <div class="form-row form-row--wide">
    {{{children.display_name}}}
  </div>
  <div class="form-row form-row--wide">
    {{{children.phone}}}
  </div>

  <div class="edit-form__actions actions">
    <div class="actions__item">
      <button class="button button--primary" type="submit">{{ui.save}}</button>
    </div>
    <div class="actions__item">
      <button class="button button--primary-ghost js-cancel">{{ui.cancel}}</button>
    </div>
  </div>
  {{{children.avatar}}}
</form>
