<form class="elements-column edit-form" novalidate>
  <div class="form-row">
    <header class="user-view__header form-row">
      <h1>{{user.firstName}} {{user.lastName}}</h1>
    </header>
    <div class="edit-form__avatar">
      <label for="avatar-upload" class="avatar"></label>
      <input class="visually-hidden" type="file" id="avatar-upload" />
    </div>
  </div>
  <div class="form-row form-row--wide">
    {{{children.email}}}
  </div>
  <div class="form-row form-row--wide">
    {{{children.login}}}
  </div>
  <div class="form-row form-row--wide">
    {{{children.firstName}}}
  </div>
  <div class="form-row form-row--wide">
    {{{children.lastName}}}
  </div>
  <div class="form-row form-row--wide">
    {{{children.phone}}}
  </div>

  <div class="edit-form__actions actions">
    <div class="actions__item">
      <button class="button button--primary" type="submit">{{ui.save}}</button>
    </div>
    <div class="actions__item">
      <a class="button button--primary-ghost" href="../../pages/user/user.hbs">{{ui.cancel}}</a>
    </div>
  </div>

</form>
