<form class="elements-column">
  <div>
    <label class="label">{{ui.user.emailLabel}}</label>
    <input class="control" name="email" type="email" />
  </div>
  <div>
    <label class="label">{{ui.user.loginLabel}}</label>
    <input class="control" name="login" />
  </div>
  <div>
    <label class="label">{{ui.user.firstNameLabel}}</label>
    <input class="control" name="first_name" />
  </div>
  <div>
    <label class="label">{{ui.user.lastNameLabel}}</label>
    <input class="control" name="second_name" />
  </div>
  <div>
    <label class="label">{{ui.user.phoneLabel}}</label>
    <input class="control" name="phone" />
  </div>
  <div>
    <label class="label">{{ui.user.passwordLabel}}</label>
    <input class="control" name="password" type="password" />
  </div>

  <div class="login__action">
    <a class="button button--primary" href="chats.hbs">{{ui.user.signupButton}}</a>
  </div>
  <div class="login__link">
    <a class="link" href="login.hbs">{{ui.user.loginLink}}</a>
  </div>
</form>
