<div class="sidebar">
  <div class="sidebar__profile">
    <a class="profile-link" href="/user.html">Profile</a>
  </div>
  <div class="sidebar__search">
    {{{children.search}}}
  </div>
  <ul class="chat-list">
    {{#each data.contacts}}
      <a class="contact" href="chat.html?id={{this.id}}">
        <div class="contact__avatar"></div>
        <div class="contact__name">{{this.name}}</div>
        <div class="contact__day">{{this.day}}</div>
        <div class="contact__content">{{this.content}}</div>
          {{#if this.num}}
            <div class="contact__num">{{this.num}}</div>
          {{/if}}

      </a>
    {{/each}}
  </ul>
</div>
