<div class="sidebar">
  <div class="sidebar__profile">
    <a class="profile-link" href="/user.html">Profile</a>
  </div>
  <div class="sidebar__search">
    {{{children.search}}}
  </div>
  <ul class="chat-list">
    {{#each chats}}
      <a class="contact" href="chat.html?id={{this.id}}">
        <div class="contact__avatar">
            {{#if this.lastMessage.user.avatar}}
                <img src="{{../API_UPLOAD_PATH}}{{this.lastMessage.user.avatar}}" alt="{{this.lastMessage.user.firstName}}">
            {{/if}}
        </div>
        <div class="contact__name">{{this.title}}</div>
        <div class="contact__day">{{this.lastMessage.time}}</div>
        <div class="contact__content">{{this.lastMessage.user.firstName}}: {{this.lastMessage.content}}</div>
          {{#if this.unreadCount}}
            <div class="contact__num">{{this.unreadCount}}</div>
          {{/if}}

      </a>
    {{/each}}
  </ul>
</div>
