<div class="chat-message {{messageClass}}">
  <div class="chat-message__avatar">
    <div class="avatar">{{message.avatar}}</div>
  </div>
  <div class="message-balloon">
    <div class="message-content">
      <p>{{message.content}}</p>
      <div class="message-content__time">
        {{formattedDate}}
        {{{check}}}
      </div>
    </div>
  </div>
</div>
